<div data-grid-list-switch class="px-3 relative flex flex-col md:flex-row md:items-center justify-between bg-white z-20 w-full border-t border-black">
  <div class="grid-list-swatch-wrapper flex gap-4 justify-center md:justify-left items-center py-3">
    <div data-switch="grid" class="layout-switch-btn grid-button flex gap-2 px-3 items-center bg-transparent">
      <span class="font-tenso text-base">GRID</span>
      <svg
        width="9"
        height="9"
        viewBox="0 0 9 9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect
          width="4"
          height="4"
          fill="black" />
        <rect
          x="5"
          width="4"
          height="4"
          fill="black" />
        <rect
          x="5"
          y="5"
          width="4"
          height="4"
          fill="black" />
        <rect
          y="5"
          width="4"
          height="4"
          fill="black" />
      </svg>
    </div>
    <div data-switch="list" class="layout-switch-btn list-button flex gap-2 px-3 bg-transparent items-center switch__active">
      <span class="font-tenso text-base">LIST</span>
      <svg
        width="15"
        height="9"
        viewBox="0 0 15 9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect
          width="4"
          height="4"
          fill="black" />
        <rect
          x="6"
          y="1"
          width="9"
          height="2"
          fill="black" />
        <rect
          x="6"
          y="6"
          width="9"
          height="2"
          fill="black" />
        <rect
          y="5"
          width="4"
          height="4"
          fill="black" />
      </svg>
    </div>
  </div>
</div>